<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add-modal, .edit-modal{
            position: fixed;
            height: 300px;
            width:400px;
            top:100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            background: pink;
            margin-left: -200px;
        }
    </style>
</head>
<body>
    <h1>业务线列表</h1>
    <div>
        <input id="add_host" type="button" value="添加" />
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>序号</th>
                <th>主机名</th>
                <th>IP</th>
                <th>端口</th>
                <th>业务线名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v1 %}
                <tr hid="{{ row.nid }}" bid="{{ row.b_id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.hostname }}</td>
                    <td>{{ row.ip }}</td>
                    <td>{{ row.port }}</td>
                    <td>{{ row.b_id }}</td>
                    <td>{{ row.b.caption }}</td>
                    <td>
                        <a class="edit">编辑</a>|<a class="delete">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table border="1">
        <thead>
            <tr>
                <th>序号</th>
                <th>业务线名称</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v2 %}
                <tr hid="{{ row.id }}" bid="{{ row.b_id }}">
                    <td>{{ row.hostname }}</td>
                    <td>{{ row.b__caption }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <table border="1">
        <thead>
            <tr>
                <th>序号</th>
                <th>业务线名称</th>
            </tr>
        </thead>
        <tbody>
            {% for row in v2 %}
                <tr hid="{{ row.id }}" bid="{{ row.b_id }}">
                    <td>{{ row.hostname }}</td>
                    <td>{{ row.b__caption }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="shade hide"></div>
    <div class="add-modal hide">
        <form method="post" action="/monitor/host">
            <div class="group">
                <input id="host" type="text" placeholder="主机名" name="hostname" />
            </div>

            <div class="group">
                <input id="ip" type="text" placeholder="IP" name="ip" />
            </div>

            <div class="group">
                <input id="port" type="text" placeholder="端口" name="port" />
            </div>

            <div class="group">
                <select id="sel" name="b_id">
                    {% for op in b_list %}
                        <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="提交" />
            <a id="ajax_submit" style="display: inline-block; padding: 5px; background-color: blue; color: white;">悄悄提交</a>
            <input id="cancel" type="button" value="取消" />
            <span id="error_msg" style="color: red;"></span>
        </form>
    </div>
    <div class="edit-modal hide">
        <form id="edit_form" method="post" action="/monitor/host">
                <input id="num" name="nid" type="text" style="display: none;"/>
                <input type="text" placeholder="主机名" name="hostname" />
                <input type="text" placeholder="IP" name="ip" />
                <input type="text" placeholder="端口" name="port" />

                <select id="sel" name="b_id">
                    {% for op in b_list %}
                        <option value="{{ op.id }}">{{ op.caption }}</option>
                    {% endfor %}
                </select>
            <a id="ajax_submit_edit">确认编辑</a>
            <a id="cancel_edit">取消</a>

        </form>
    </div>


    <script src="/static/jquery-1.9.1.js"></script>
    <script>
        $(function () {

            $('#add_host').click(function () {
                $('.shade, .add-modal').removeClass('hide');
            });

            $('#cancel').click(function () {
               $('.shade, .add-modal').addClass('hide');
            });
            //添加功能
            $('#ajax_submit').click(function () {
                $.ajax({
                    url: "/monitor/test_ajax",
                    method: 'POST',
                    data: {'hostname': $("#host").val(), 'ip': $('#ip').val(), 'port': $('#port').val(),'b_id':$("#sel").val()},
                    success: function (data) {           // 服务器端返回的数据放到data中
                        var obj = JSON.parse(data);          //  把后台传过来的字符串转换为对象
                        if(obj.status){
                            location.reload()
                        }else {
                            $('#error_msg').text(obj.error);
                        }
                        }
                    })
             });

            //编辑功能
            $('.edit').click(function () {
                $('.shade, .edit-modal').removeClass('hide');

                $('#cancel_edit').click(function () {
                    $('.shade, .edit-modal').addClass('hide');
                });  //隐藏弹出框

                var bid = $(this).parent().parent().attr('bid');
                var hid = $(this).parent().parent().attr('hid');
{#                console.log(bid,hid);#}
                $('#edit_form').find('select').val(bid);
                $('#edit_form').find('input[id="num"]').val(hid);
                //修改
                $('#ajax_submit_edit').click(function () {
                    $.ajax({
                        url: "/monitor/edit",
                        method: 'POST',
                        data:$('#edit_form').serialize(),
                        success:function (data) {
                            console.log(data)
                        }
                    })
                })

            })
        })
    </script>
</body>
</html>